html, body{
    height: 50%;/*長度*/
    
  }

.side-menu{
width: 200px;
height: 100%;
padding: 30px 0;/*字體與框的距離*/
box-sizing: content-box;

display: flex;
flex-direction: column;
margin-top: 50px;

}

.side-menu form{
display: flex;
margin: 0 10px 50px;
border-radius: 100px;
border: 1px solid rgba(255, 255, 255, .4);
}
.side-menu input, .side-menu button{
border: none;
padding: 5px 10px;
background-color: transparent;
color: #fff;
}
.side-menu input:focus, .side-menu button:focus{
outline: none;
}
.side-menu input::placeholder{
color: #fff;
}
.side-menu input{
width: 230px;
}
.side-menu button{
width: 50px;
}
nav a{
display: block;
padding: 10px;
color: #fff;
text-decoration: none;
position: relative;
}

nav a + a::before{
content: '';
position: absolute;
top: 0;
right: 10px;
left: 10px;
border-top: 1px solid rgba(255, 255, 255, .4) ;
}
nav a .tou{
margin-right: 1.1em;
transform: scale(0);
transition: .3s;
}
nav a:hover .tou{
margin-right: 0em;
transform: scale(1);
}
div.123{
display: inline;
float: right;
}
div.side-menu{
display: block;
float: left;
}